#back{
        background: #dbdcdb url(back.png) repeat;
		width: 98%;
     }
#predpredglobal1{
		display: block;
		width: 915px;
		float: right;
		height: 150px;
            }	
#predglobal1{
		display: block;
		width: 620px;
		float: left;
		height: 150px;
        }	
#predglobal2{
		display: block;
		float: right;
		width: 295px;
		height: 150px;
        }	
#blueline{
        background: #2C186D url(blueline.png) repeat;
		margin-bottom: 7px;
		width: 115px;
		height: 3px;
         }
#global1{
        background-color: white;
		width: 915px;
		float:right;
        }	   
#block1{
		display: block;
		width: 620px;
		float: left;

       }	 
#block2{
        background: #F1F1F1 url(grey.png) repeat;
		display: block;
		width: 265px;
		float: right;
		height: auto;
		margin-right: 30px;
		margin-top: -319px;

	    /*border: 1px solid black;*/
       }
#menu1{
		margin-top: 30px;
		width: 915px;
		height: 35px;
      }	   
#menu2{
        position: relative;
		top: -38px;
		left: 20px;
		font: normal normal 100 13px arial;
		font-stretch: ultra-condensed;
		color: white;
      }
#list1{
        float: left;
		list-style: none;
		margin-right: 8px;
		padding-top: 0px;
      }	  
#link1{ 
		color: white;
		text-decoration: none;
      }	  
a:visited#link1{
		color: #F1F1F1;
		text-decoration: none;
         }	  
a:active#link1{
		color: white;
		text-decoration: none;
		}
#text1{
        margin: -35px 35px 35px 35px;
      }		
#uch{
		font: normal normal 500 30px 'Helvetica';
		font-stretch: ultra-condensed;
		color: #54459D;
		margin-top: 0px;
		padding: 0px;
     }	
#hr1{
		color: #D82317;
        margin-top: -2px;
     }			 
#big1{
		font: normal normal 900 20px 'Arial';
		font-stretch: condensed;
		color: black;
		margin-top: 0px;
		padding: 0px;
     }	
#op1{
        position: relative;
		right: 567px;
		top: 55px;
    }	 
#text2{
		font: normal normal 100 14px 'Arial';
		font-stretch: condensed;
		color: black;
		margin-top: 0px;
		padding: 0px;
      }		
#rec{
        background-image: url(rec.png);
		margin-top: 25px;
		width: 532px;
		height: 210px;
    }
#rec1{
        position:relative;
		top: 70px;
		left: 30px;
     }
#text3{
		font: normal normal 100 16px 'Arial';
		font-stretch: condensed;
		color: black;
		margin-top: 0px;
		padding: 0px;
      }	
#text4{
		font: normal normal 700 22px 'Arial';
		font-stretch: condensed;
		color: black;
		margin-top: 0px;
		padding: 0px;
      }	
#hr2{
		color: #A9A9A9;
        margin-top: -2px;
     }		
#textinblock2{
        margin: 35px 5px 20px 10px;
      }		
#soder1{
        font: normal normal 400 24px 'Helvetica';
		font-stretch: ultra-condensed;
		color: #A9A9A9;
		margin-top: 0px;
		padding: 0px;
       }
#zhurn{
		position: relative;
		left: 0px;
		top: -160px;
		float: right;
      }
#stit{
        color: #54459D;
		font: normal normal 400 20px 'Helvetica';
		text-decoration: underline;
     }
#spodtit{
        color: #54459D;
		font: normal normal 200 14px 'Helvetica';
		text-decoration: underline;
        }
#stext{
        font: normal normal 100 11px 'Arial';
		font-stretch: condensed;
		color: #747474;
      }
/*#bok1{  
        background: url(bok1.png) repeat-y;
		display: block;
		float: left;
		width: 7px;
     }*/
#menu2link1{
		font: normal normal 900 20px 'Arial';
		font-stretch: condensed;
		text-decoration: none;
		color: black;
		margin-top: 0px;
		padding: 0px;
           }
#menu2link2{
		font: normal normal 500 16px 'Arial';
		font-stretch: condensed;
		border-bottom: 1px dotted black;
		text-decoration: none;
		color: black;
		margin-top: 0px;
		padding: 0px;
           }
#menu2link3{
		font: normal normal 500 16px 'Arial';
		font-stretch: condensed;
		border-bottom: 1px dotted black;
		text-decoration: none;
		color: #707173;
		margin-top: 0px;
		padding: 0px;
           }
#menu2link4{
		font: normal normal 500 16px 'Arial';
		font-stretch: condensed;
		border-bottom: 1px dotted black;
		text-decoration: none;
		color: #ADAFB0;
		margin-top: 0px;
		padding: 0px;
           }
#menu2list1{
        float: left;
		list-style: none;
		margin-right: 25px;
		padding-top: 0px;
           }	  
#zh1{
        display: block;
		float: right;
		width: 130px;
    }
#number1{
        color: #54459D;
		font: normal normal 200 16px 'Helvetica';
		text-decoration: underline;
		text-align: center;
	    margin-right: 30px;
        }
#stext2{
        font: normal normal 100 11px 'Arial';
		font-stretch: condensed;
		color: #747474;
		text-align: center;
	    margin-right: 30px;
      }
#beg1{
        margin: 170px 25px 5px 20px;
     }
#beg2{
        margin-top: -19px;
		margin-left: 15px;
     }
#menu31{
        background: #E3E3E3 url(bg2.png) repeat;
       }
#menu41{
        margin: 0px 0px 10px 40px;
		font: normal normal 100 16px 'Helvetica';
		font-stretch: condensed;
       }	 
#menu32{
        color: #54459D;
		font: normal normal 200 12px 'Helvetica';
		text-decoration: underline;
	    margin-right: 30px;
       }	
a:visited#menu32{
		color: #54459D;
		text-decoration: none;
         }	  
a:active#menu32{
		color: #54459D;
		text-decoration: none;
		}	   
#menu42{
        margin: 0px 0px 20px 40px;
		font: normal normal 100 16px 'Helvetica';
		font-stretch: condensed;
		border-bottom: 1px dotted black;
		text-decoration: none;
       }	 
#bot1{
        background: #E3E3E3 url(bg2.png) repeat;
		height: 160px;
		width: 915px;
		float:right;
     }
#idid1{
        font: normal normal 300 17px 'Helvetica';
		color: #616161;
		margin: 10px 0px 20px 40px;
		padding: 0px;
      }
#bot2{
        background: #ACACAC url(bgg.png) repeat;
		height: 80px;
		width: 915px;
		float:right;
     }
#idid2{
        font: normal normal 700 12px 'Arial';
		color: white;
		margin: 28px 0px 15px 15px;
		padding: 0px;
      }
#mg1{
        float: left;
		list-style: none;
		margin-left: 32px;
		margin-top: -8px;
    }
#idid3{
        font: normal normal 700 12px 'Arial';
		color: white;
		margin: -38px 390px 15px 15px;
		padding: 0px;
		float: right;
      }
#idid4{
        font: normal normal 100 12px 'Arial';
		color: white;
		margin: -38px 450px 15px 15px;
		padding: 0px;
		float: right;
      }
#finitalacomedia1{
        margin: -22px 337px 15px 15px;
		float: right;
                 }
#block1111{
        background: #FDFDFD url(block1111.png) repeat;
		height: 50px;
         }
#block111{
        background: #FDFDFD url(block111.png) no-repeat;
		height: 216px;
         }
#menu411{
        margin: 0px 20px 10px 20px;
		font: normal normal 100 16px 'Helvetica';
		font-stretch: condensed;
		text-align: center;
		width: 210px;
        }	 
#menu4111{
        margin: 0px 25px 10px 25px;
		font: normal normal 700 18px 'Arial';
		font-stretch: condensed;
		text-align: center;
		width: 210px;
		color: #0092D9;
		border-bottom: 1px dashed #0092D9;
		text-decoration: none;
         }	 
#menu41111{
		font: normal normal 700 18px 'Arial';
		font-stretch: condensed;
		color: #0092D9;
		text-decoration: none;
          }	