<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=Web-Pr_SprU7h8e;pwd=O/^VO(^G]vy1;Database=Web-Pr_Spring-2014" name="Web-Pr_Spring-2014" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
